<h3>Crear Empleado</h3>
<div [hidden]="submitted" style="width: 400px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Nombre</label>
      <input type="text" class="form-control" id="firstname" required [(ngModel)]="employee.firstname" name="firstname">
    </div>

    <div class="form-group">
      <label for="name">Apellido</label>
      <input type="text" class="form-control" id="lastname" required [(ngModel)]="employee.lastname" name="lastname">
    </div>

    <div class="form-group">
      <label for="name">Email</label>
      <input type="text" class="form-control" id="emailid" required [(ngModel)]="employee.emailid" name="emailid">
    </div>

    <button type="submit" class="btn btn-success">Enviar</button>
  </form>
</div>

<div [hidden]="!submitted">
  <h4>Registro creado correctamente!</h4>
  <!-- <button class="btn btn-success" (click)="newEmployee()">Add</button> -->
</div>

