<h2>Detalles de empleado</h2> 

<hr/>
<div *ngIf="employee">
  <div>
    <label><b>Nombre: </b></label> {{employee.firstname}}
  </div>
  <div>
    <label><b>Apellidos: </b></label> {{employee.lastname}}
  </div>
  <div>
    <label><b>Email: </b></label> {{employee.emailid}}
  </div>  
</div>

<br>
<br>
<button (click)="list()" class="btn btn-primary">Lista de Empleados</button><br>